@import 'tailwindcss';

@theme {
  --color-darkPurple: #541d68;
  --color-darkerPurple: #2e183d;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background: rgba(109, 40, 217, 0.7);
  width: 36px !important;
  height: 36px !important;
  border-radius: 50%;
  padding: 8px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important;
}
.swiper-pagination-bullet-active {
  background: #7c3aed;
}
